@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

@font-face {
  font-family:'noto-sans';
  src: url('../vendor/webfonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('olf');
  font-family:'noto-sans1';
  src: url('../vendor/webfonts/Noto_Sans_JP/NotoSansJP-Medium.otf') format('olf');
  font-family:'noto-sans2';
  src: url('../vendor/webfonts/Noto_Sans_JP/NotoSansJP-Bold.otf') format('olf');
}
 /* ======= Your styling goes below ======= */
 /*4.Common styling
 =========================================================================*/
 ul{list-style-type: none;}
 a { 
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: .4s ease-in-out;
}
h2{
	font-family: 'noto-sans2', sans-serif;
	font-size: 38px;
	font-weight: 800;
	color: white;
	letter-spacing:4px;
	line-height: 50px;
	padding:140px 0 10px 0;
}
h3{
	font-family: 'noto-sans2', sans-serif;
	font-size: 40px;
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
}
span{display:block;}
.download{
	cursor: pointer;
    background: #3dbbe2;
    border: 0;
    padding: 15px 42px;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}
/* 5. Wrapper
========================================================================== */
.wrapper{
	max-width: 1464px;
	width: 68.94%;
	margin: 0 auto;
}
/*6. Header
============================================================================*/

header img{
	width: 123px;
}
header .wrapper {
    position: absolute;
    top: 25px;
    left: 200px;
    padding: 10px 0;
}
/*6. Banner section
=============================================================================*/
.banner {
	background: url('../images/hero_background.jpg') no-repeat center center;
	background-size: cover;
	padding: 50px 0;

}
.banner .wrapper{
	padding: 80px 0 0 0;
	position: relative;
}
.banner__text{
	width:49%;
	display: inline-block;
}
.banner__text p:first-of-type{
	/*margin: 5px 0 50px 0;*/
	color:#f3fdf9;
	margin:12px 0;
	font-family: 'noto-sans',sans-serif;
}
.banner__text p:last-of-type{
	/*margin: 5px 0 50px 0;*/
	color:#f3fdf9;
	padding: 245px 0 75px 0;
	font-family: 'noto-sans',sans-serif; 
	font-size: 13px;
	display: inline-block;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    color: white;
}
.banner figure{
	width: 50%;
	display: inline-block;
	text-align: right;
	position: absolute;
}
.dex-image img{
	width:298px;
	/*margin-bottom: 221px;*/
}
.banner .download{margin-top: 24px;}
.download:hover{
	background: #008ecc;
}
/*.banner__text p:last-child{
	display: inline-block;
}*/

/*7. science section
================================================================================*/
.science{background: #0085b4;}
.space , .potions, .what{
 	display: inline-block;
 	margin:0 auto;
 	padding: 83px 80px;
 }
.space img, .potions img, .what img{
	width: 120px;
	margin-bottom: 5px;
}

.science-head{
	font-size: 40px;
	font-weight: 600;
	font-family: 'noto-sans', sans-serif;
	text-align: center;
	color:white;
	padding-top:20px; 
}
.science-para{
	color: #dee8ee;
	text-align: center;
	padding-top: 10px;
}

/*8.intro section
=================================================================================*/

/*img[alt="One Lonely ginge"]{
	width: 30%;
}
*/

/*Lonely ginger*/
.intro__ginger figure{
	width: 50%;
	display: inline-block;
	text-align: left;
}
.intro__ginger--right{
	width: 49%;
	display: inline-block;
	padding: 120px 0;
	position: relative;

}
.intro__ginger--right p:first-of-type{
	font-size: 15px;
	margin-top: 38px;
	line-height: 20px;
    letter-spacing: .5px;
	color:#575757;

}
.intro__ginger--right p:last-of-type{
	margin-top: 40px; 
	background: #ecf0f1;
	padding: 40px;
	font-size: 14.5px;
	color: #a8acad;
	width:70%;
	font-style: italic;
}
.laughmandark{
	position: absolute;
	top: 395px;
	left: 326px;
	z-index: 1;
}
.mandark-name{
	color: #4eb9e7;
	margin: 10px;
}
.ginger .ginger-image{
	width: 53%;
	margin-top: -308px;
}

/*Deedeee part intro*/

.intro__deedee--left{
	width: 50%;
	display: inline-block;
	padding: 80px 0;
	text-align: left;
}
.deedee-image-intro{
	width: 49%;
	display: inline-block;
	text-align: right;
}
.image-deedee{
	width:92.7%;
	margin: 0px 0 95px 0;
}
.intro__deedee--left p{
	margin: 30px 0;
	letter-spacing: .5px;
	line-height: 20px;
	color:#575757;
}
/*9.Character section
==========================================================================*/
.character{background: #ecf0f1}
.character .wrapper{padding: 90px 0;}
.character__intro--dex,.character__intro--deedee,.character__intro--mandark{display: inline-block; width: 33%;}
.dex-intro ,.deedee-intro ,.mandark-intro {display: inline-block;}
.dexterimage img{width: 63.9%;}
.deeteeimage img{width: 83.9%;}
.mandarkimage img{width: 61.3%;}

.dex-intro li,.deedee-intro li,.mandark-intro li{
	text-align: center;
	width:86.8%;
}
.char-introhead{
	font-family: 'noto-sans2', sans-serif;
	font-size: 26.5px;
	font-weight: 600;
	margin-top: 24px;
}
.char-introtitle{
	color: #a9aaac;
	margin-top: 10px;
	font-size: 22.6px;
	font-style: italic;
}
.char-intropara{
	color: #8a8b8d;
	margin-top: 35px;
	letter-spacing: .5px;
	line-height: 20.8px;
	font-size: 15px;
}
.char-intromore{margin-top: 25px;}
.char-intromore a{color: #17aae1;}

/*10. Footer
==============================================================================*/
footer{background: #daae3b;}
footer h3{
	font-size: 30px;
	color: white;
	background:#f2c342;
	display: block;
	padding: 50px 0;
	text-align: center;
	font-weight: 800;
}
.fa-basketball-ball::before{content:"";}
.fa-basketball-ball::after {
    content: "\f434";
    margin-left:30px;
}
.block{
	display:block;
}

/*.link__list1 {display: inline-block;}
.link__list2 {
	display: inline-block;
}
.link__list3 {
	display: inline-block;
}*/

.link__list1,.link__list2,.link__list3{
	display: inline-block;
	padding: 20px 0;
	width: 33%; 
	height: 100%;
	text-align: center;
}
.bold{
	font-weight: bold;
	margin-bottom: 10px;
}
ul > :first-child{
  font-size: 18px;
}
/*ul .far fa-envelope::before{
	margin-right: 10px;*/
.fa-envelope::before {
	content: "\f0e0";
	margin-right: 8px;
	font-size: 22px;
}

.fa-map-marker-alt::before {
	content: "\f3c5";
	margin-right: 8px;
	font-size: 22px;
}
.fa-skype::before {
	content: "\f17e";
	margin-right: 8px;
	font-size: 22px;
	color: black;
}
.share{
	background: #f2c342;
	text-align:center;
	padding:35px 0;
	color:white;
	font-size:30px;
	font-weight: 600;
}
footer a:hover{
	color:#404040;
	opacity: .3;
}
/* 11. media Queries
=====================================================================================*/

 @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}














*/


